POSTGRES_DB=steelmaking_level2
POSTGRES_USER=level2
POSTGRES_PASSWORD=level2_dev_password
POSTGRES_PORT=5432

SIM_SAMPLE_INTERVAL_SECONDS=1
SIM_PHASE_DURATION_SECONDS=60
SIM_RESTART_DELAY_SECONDS=5
SIM_LOG_LEVEL=INFO
